* {
    margin: 0;
    padding: 0;
}

.button {
    background: none;
    outline: none;
    border: none;
}

.input {
    background: none;
    outline: none;
    border: none;
}

body {
    background: black;
}

.form__addPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 456px;
}

.input__form {
    padding: 20px 15px;
    color: white;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 8px;
    transition: 0.2s all ease;
}

.input__form:focus {
    border: 1px solid white;
    transform: scale(1.1);
}

.btn__form {
    background: white;
    color: black;
    font-size: 22px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all ease;
}

.btn__form:hover {
    transform: scale(1.1);
}