body {
    background: rgb(255, 255, 255);
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.button {
    background: none;
    outline: none;
    border: none;
}

.input {
    background: none;
    outline: none;
    border: none;
}


.form__addPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 456px;
}

.input__form {
    padding: 20px 15px;
    color: white;
    border: 1px solid rgb(60, 60, 60);
    background-color: rgba(41, 41, 41, 0.4);
    border-radius: 8px;
    transition: 0.2s all ease;
}

.input__form:focus {
    border: 1px solid white;
    transform: scale(1.1);
}

.btn__form {
    background: white;
    color: black;
    font-size: 22px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all ease;
}

.btn__form:hover {
    transform: scale(1.1);
}

#shoes-cards {
    margin-top: 25px;
}

#card {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#card-bg {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    border-radius: 15px;
    padding: 10px;
}

#cardr {
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 224, 224);
    border-radius: 15px;
    padding: 10px;
}

.width-photo {
    width: 300px;
    border-radius: 15px;
}

#info-shoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-top: 10px;
    background-color: rgba(233, 233, 233, 0.911);
    border-radius: 10px;
    padding-bottom: 10px;
}

#text-card-style {
    padding-top: 10px;
}

#shows_card {
    display: flex;
    margin: 10px;
}

#card {
    margin: 8px;
}

/* #cart_products::before {
    content: '';
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 15.8rem;
    z-index: -1;
} */

#cart_products {
    width: 250px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    border-radius: 15px;
}

.buttonCart {
    border: 1px transparent solid;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
    width: 95px;
    margin-left: 75px;
    margin-bottom: 10px;
    background-color: #dddddd;
    transition: 0.3s all;
}

.buttonCartt{
    border: 1px transparent solid;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    width: 95px;
    background-color: #dddddd;
    transition: 0.3s all;
       margin-left: 75px;
}

.buttonCart:hover{
    background-color: #a8a8a8;
    transition: 0.4s all;
}

.hide {
    display: none;
    margin: 20px;
}

.ppCart{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
